body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(6, 74, 6);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.container{
    border: 1px black solid;
    width: 700px;
    margin: auto;
    padding: 20px;
}
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    
}
button{
    color: #016f32;
    width: 150px;
    height: 40px;
    background-color: goldenrod;
    border-radius: 10px;
    margin: 2px;
}